<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home | Paint</title>
</head>
<body>
    <div class="card">
        <!-- NAVEGACIÓN -->
        <nav>
            <div class="logo">
                <img src="/media/icon.png" alt="">
            </div>
            <div class="navbar">
                <ul>
                    <li>Inicio</li>
                    <li>Pintar</li>
                    <li>Mis Imagenes</li>
                    <li>Comunidad</li>
                </ul>
            </div>
        </nav>

        <!-- PORTADA -->
        <div class="header">
            <h1 class="title">Empieza a dibujar en un Canvas ahora</h1>
            <p>Crea imagenes en un Canvas implementado figuras como cuadrados, circulos, estrellas o dibujando con el ratón.
                Guarda tus imagenes y compartelas con la comunidad de artistas de la plataforma
            </p>
        </div>

        <div class="image">
            <img src="/media/logo.png" alt="">
        </div>

    </div>
</body>
</html>