<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Sign in | Paint</title>
</head>
<body>
    <div class="card">
        <nav>
            <div class="logo">
                <img src="/media/icon.png" alt="">
            </div>
            <div class="navbar">
                <ul>
                    <li>Inicio</li>
                    <li>Pintar</li>
                    <li>Mis Imagenes</li>
                    <li>Comunidad</li>
                </ul>
            </div>
        </nav>

        <div th:if="${passwordLength == true}">
            La contraseña debe tener al menos 5 caracteres
        </div>

        <div>
            <form action="register" method="post">
                <input type="text" name="fullName" placeholder="Nombre completo">

                <input type="text" name="username" placeholder="Nombre de usuario">

                <input type="password" name="password" placeholder="Contraseña">

                <input type="submit" value="Registrarse">
            </form>
        </div>
    </div>
</body>
</html>